.share{
    width: 100%;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 0px 8px 8px rgba(152,209,165,1);
-moz-box-shadow: 0px 0px 8px 8px rgba(152,209,165,1);
box-shadow: 0px 0px 8px 8px rgba(152,209,165,1);


}
.shareWrapper{
    padding: 10px;

}
.shareTop{
    display: flex;
    align-items: center;
}
.shareProfileImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareInput{
    width: 80%;
    
    border: none;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px 5px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
   display: flex;
   margin-left: 20px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.shareIcon{
    margin-right: 3px;
    font-size: 18px;
}
.shareOptionText{
    font-size: 15px;
    font-weight: 500;
}
.shareButton{
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(15, 108, 15);;
    color: white;
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}
.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
}
.shareImg{
    width: 100%;
    object-fit: cover;
}
.shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}
